<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <meta charset="utf-8">
    <title>relevation - Information Retrieval Relevance Judging System</title>
    <meta name="description" content="">
    <meta name="author" content="Bevan Koopman">
    <meta name="author" content="Dylan J.-H. Ju">

    {% block extra_head %}
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="container">
            {# <a class="navbar-brand" href="{% url 'index' %}">Relevation</a> #}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'index' %}upload">Setup</a>
                </li>
                <li><a class="nav-link active" href="{% url 'index' %}about">About</a></li>
                <li><a class="nav-link active" href="{% url 'query_list' %}">Queries</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Others
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="?layout=vertical">Vertical</a></li>
                        <li><a class="dropdown-item" href="?layout=horizontal">Horizontal</a></li>
                        <li><a class="dropdown-item" href="?layout=inline">Inline</a></li>
                        <li><a class="dropdown-item" href="?layout=search">Search</a></li>
                        <li><a class="dropdown-item" href="?layout=horizontal">Using template</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    {% block content %}Empty page{% endblock %}

    <p><hr></p>

    <footer class="row">
        <div class="span6">
            <p>relevation - Information Retrieval Relevance Judging System</p>
        </div>
        <div class="span6" style="text-align:right">
            <p>
                <a href="http://koopman.id.au">Bevan Koopman</a>
            </p>
        </div>
    </footer>

</div> <!-- container -->

</body>
</html>
