{% extends "judgementapp/base.html" %}

{% block content %}

<div class="card">

<div class="card-body">
    <h5 class="card-title">Task 1 - Financial Signal Highlighting</h5>
    <p class="card-text">
        This task has two subtasks: (task 1a) span highlighting, and (task 1b) content classification.
        And below are some annotation instructions. 
        <h6 class="card-title">General guildline</h6>
        <ul>
            <li>Annotators should <b>avoid speculation</b> based on prior knowledge and 
                should not draw conclusions that require speculation or prior knowledge of the company.</li>
            <li>Annotators should be as <b>consistent</b> as they can be with respect to their own annotations.</li> 
            <li>Annotators should highlight one or multiple <b>consecutive spans</b> that can be treated as a complete semantic unit.</li>
        </ul>
    </p>

    <p class="card-text">
        <h6 class="card-title">Detail guildlines</h6>
        For task 1a, annotators should highlight one or multiple <b>consecutive spans</b> that can be treated as a complete semantic unit.<br/>
        For task 1b, Annotators should categorize this content into <b>at least one</b> of the following few types.
        <ul>
            <li><span class="text-secondary">Type 0: Trivial information.</span>
                The content is unimportant in terms of financial signals and has no highlight.</li>
            <li><span class="text-primary">Type 1: Company-specific knowledge.</span>
                e.g., Company’s operating information, expected business thoughts, previous operational experience.</li>
            <li><span class="text-danger">Type 2: Change/Action of financial entities.</span>
                e.g., Operational disclosure, financial status or YoY comparison. New products, services, business strategies. </li>
                {# Macroeconomic/industry/related companies factors.</li> #}
            <li><span class="text-warning">Type 3: Reasoning for such events in this period.</span>
                e.g., an event is "due to ...". as " ...", the event would change.</li>
            <li><span class="text-success">Type 4: Redirect messages.</span>
                The contents is saying that "please refer to ...".
            </li>
        </ul>
    </p>
</div>

<div class="card text-left m-2">
    <div class="row card-body">
        <div class="col"><h6>ID: <i>{{query.qId}}</i> </h6></div>
    </div>

    <form class="form-inline" action="" method="post"> {% csrf_token %}
    <div class="card-body row">
        <div class="col">
            <h6>{{ query.text }} </h6>
        </div>
        <div class="col-2 float-right"> 
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="category" id="category0" value="0" 
                  {% if query.category.0 == 1%} checked {% endif %}>
                  <label class="form-check-label" for="defaultCheck1"><span class="text-secondary">Trivial</span></label>
                  <br>
                  <input class="form-check-input" type="checkbox" name="category" id="category1" value="1"
                  {% if query.category.1 == 1%} checked {% endif %}>
                  <label class="form-check-label" for="defaultCheck1"><span class="text-primary">Company-specific</span></label>
                  <br>
                  <input class="form-check-input" type="checkbox" name="category" id="category2" value="2"
                  {% if query.category.2 == 1%} checked {% endif %}>
                  <label class="form-check-label" for="defaultCheck1"><span class="text-danger">Change/Action</span></label>
                  <br>
                  <input class="form-check-input" type="checkbox" name="category" id="category3" value="3"
                  {% if query.category.3 == 1%} checked {% endif %}>
                  <label class="form-check-label" for="defaultCheck1"><span class="text-warning">Reason</span></label>
                  <br>
                  <input class="form-check-input" type="checkbox" name="category" id="category4" value="4"
                  {% if query.category.4 == 1%} checked {% endif %}>
                  <label class="form-check-label" for="defaultCheck1"><span class="text-success">Redirect</span></label>
              </div>
        </div>
    </div>

    <div class="card-body row">
        <div class="col">
            <div><script type="text/javascript">
              function getSelectedText() {
                  if (window.getSelection) {
                      return window.getSelection().toString();
                  } else if (document.selection) {
                      return document.selection.createRange().text;
                  }
                  return '';
              }

              function captureSelection() {
                textarea = document.getElementById('comment');
                if (textarea.value.length == '') {
                  textarea.value = getSelectedText() ;
                } else if (textarea.value.length > 0) {
                  textarea.value = textarea.value + ' ||| ' + getSelectedText() ;
                }
              }
            </script></div>

            <h6><button type="button" class="btn btn-warning btn-sm" id="capture" onclick="captureSelection()">Span highlighter</button></h6>
            <div class="control-group">
                {# <div class="controls"> #}
                <textarea style="width:100%" id="comment" name="comment">{% if query.comment %}{{query.comment}}{% else %}{% endif %}</textarea>
                {# </div> #}
            </div>
        </div>
        <div class="col-2 float-right"> 
            <div class="form-actions">
                <button type="submit" class="btn btn-outline-primary btn-sm">Save</button> 
                <a href="{% url 'query' qId=query.qId %}" class="btn btn-outline-danger btn-sm">Cancel</a>
            </div>
        </div>
    </div>

    <div class="card-body row">
        <div class="col">
            {% if prev %}
            <a href="{% url 'query' qId=prev.qId%}" class="btn btn-outline-dark btn-sm">Prev Query</a>
            {% endif %}
        </div>
        <div class="col" align="right">
            {% if next %}
            <a href="{% url 'query' qId=next.qId%}" class="btn btn-outline-dark btn-sm">Next Query</a>
            {% endif %}
        </div>
    </div>

    </form>

</div>

<div class="table-responsive m-2">
    <table class="table table-striped">
        <thead style="table-layout:fixed">
            <tr><th>No.</th>
                <th>Document#</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for judgement in judgements %}
            <tr><td>{{ forloop.counter }}</td>
                <td><a href="{% url 'document' qId=query.qId docId=judgement.document.docId %}">{{ judgement.document.docId }}</a></td>
                <td style="color: 
                            {% if judgement.relevance == -1 %} black {% endif %}
                            {% if judgement.relevance == 0 %} red {% endif %}
                            {% if judgement.relevance == 1 %} orange {% endif %}
                            {% if judgement.relevance == 2 %} green {% endif %} " >{{ judgement.label }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}

