{% extends "judgementapp/base.html" %}

{% block content %}

	<div class="well">
        <h2>Setup</h2>
  </div>

	<div class="row">

    {% if queries %}
      <div class="span12">
        {{ queries }} queries processed succesfully.
      </div>
    {% endif %}
    {% if results %}
      <div class="span12">
        {{ results }} document results processed succesfully.
      </div>
    {% endif %}
    {% if not queries and not results %}

      <div class="span12">
        

      <form class="form-horizontal" action="save" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <legend>Upload Queries and Results List</legend>
          <p>Query file in the format "QueryId [tab] QueryText".</p>
          <div class="control-group">
              <div class="container form-label input-group">
                  <label class="form-label" for="queryfile"></label>
                  <input type="file" class="form-control" id="queryfile", name='queryFile'/>
                  <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Upload</button>
              </div>
          </div>
          <p>Results file using standard TREC format results file</p>
          <div class="control-group">
              <div class="container form-label input-group">
                  <label class="control-label" for="resultsfile"></label>
                  <input type="file" class="form-control" id="resultsfile", name='resultsFile'/>
                  <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Upload</button>
              </div>
          </div>
      </form>
      
      </div>
    {% endif %}
  </div>


{% endblock %}
